body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'NimbusMonL', monospace;
    font-size: 44px;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
    font-family: NimbusMonL, monospace;
}


.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.button-section {
    flex: none;
}

.form-section:nth-child(1) {
    justify-content: left;
}
.form-section:nth-child(2) {
    justify-content: left;
}
.form-section:nth-child(3) {
    justify-content: left;
}
.form-section:nth-child(4) {
    justify-content: left;
}
.form-section:nth-child(5) {
    justify-content: right;
}


.form-label {
    font-weight: bold;
    margin-right: 0.5rem;
}

table {
    border-collapse: collapse;
    margin: 1rem auto;
    width: 80%;
}

table thead th {
    background-color: #505050;
    color: white;
}

table, th, td {
    border: 1px solid #888;
    text-align: center;
}

th, td {
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

input[type="file"] {
    display: none;
}

input[type="text"] {
    margin-right: 1rem;
}

button {
    font-family: NimbusMonL, monospace;
    border: 1px solid #555;
    cursor: pointer;
    background-color: #555;
    color: white;
    padding: 0.2rem 0.2rem;
    font-size: 14px;
    border-radius: 4px;
}

.button:hover {
    background-color: #dadada;
    color: black;
}

.file-button {
    font-family: NimbusMonL, monospace;
    border: 1px solid #555;
    background-color: #555;
    color: white;
    padding: 0.2rem 0.2rem;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.file-button:hover {
    background-color: #dadada;
    color: black;
}

.file-name {
    font-family: NimbusMonL, monospace;
    padding-left: 0.2rem;
}

table tbody td:nth-child(2),
table tbody td:nth-child(4),
table tbody td:nth-child(5) {
    text-align: left;
}
